.cal-4 {
    width: (100% / 12) * 4;
}

.cal-6 {
    width: (100% / 6) * 6;
}
.cal-7 {
    width: (100% / 6) * 7;
}
.cal-8 {
    width: (100% / 6) * 8;
}
.cal-11 {
    width: (100% / 6) * 11;
}
.cal-12 {
    width: (100% / 6) * 12;
}
